$ff-lato: 'Lato';
$lh: 1.5;

$color-green: #17696A;
$color-green-dark: #145C5D;
$color-green-light: #03CEA4;

$color-red: #FF4242;
$color-orange: #F89828;
$color-blue-dark: #17696A;
$color-white: #fff;
$color-white-op: rgba(255, 255, 255, .6);
$color-black: #000;

$color-gray-900: #1E212C;
$color-gray-800: #424551;
$color-gray-700: #787A80;
$color-gray-600: #9A9CA5;
$color-gray-500: #B3B7BC;
$color-gray-400: #D7DADD;
$color-gray-300: #E5E8ED;
$color-gray-200: #F4F5F7;
$color-gray-100: #F9F9F9;


$color-blue-gray: #C0DDED;
$color-yellow: #FCD164;
$color-red: #F75151;
$color-dark-blue: #0C2C7E;
$color-beige: #D8C1AD;
$color-brown: #874E19;
$color-gray: #9A9494;
$color-purple: #A27AC9;
$color-orange: #FB9620;


$color-text: #C4C4C4;


$border-w: 1px;
$radius: 4px;


$shadow-card: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

$header-height-full: 16.6rem;