@import '~css/consts';
@import '~css/utils';
/* lib: */
@import '~css/lib/customWebkitScrollbar';
@import '~css/lib/plus';
@import '~css/lib/smoothScroll';


/* FONTS */
.h1 {
  font-size: 4.6rem;
  line-height: 1.3;
  font-weight: 900;
  color: $color-gray-900;
}
.h2 {
  font-size: 3.2rem;
  line-height: 1.3;
  font-weight: 900;
  color: $color-text;
}
.h3 {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 700;
  color: $color-gray-900;
}
.h4 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 700;
  color: $color-text;
}
.h5 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  color: $color-black;
}
.h6 {
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-text;
}

@define-mixin fontRegular {
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontBold {
  @mixin fontRegular;
  font-weight: 700;
}
@define-mixin fontXLRegular {
  font-size: 2rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontXLBold {
  @mixin fontXLRegular;
  font-weight: 700;
}
@define-mixin fontLRegular {
  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontLBold {
  @mixin fontLRegular;
  font-weight: 700;
}
@define-mixin fontSRegular {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontSBold {
  @mixin fontSRegular;
  font-weight: 700;
}
@define-mixin fontXSRegular {
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontXSBold {
  @mixin fontXSRegular;
  font-weight: 900;
}
@define-mixin fontXXSRegular {
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color-text;
}
@define-mixin fontXXSBold {
  @mixin fontXXSRegular;
  font-weight: 900;
}



.text {
  @mixin fontRegular;
}
.text_b {
  @mixin fontBold;
}
.text_xl {
  @mixin fontXLRegular;
}
.text_xlb {
  @mixin fontXLBold;
}
.text_l {
  @mixin fontLRegular;
}
.text_lb {
  @mixin fontLBold;
}
.text_s {
  @mixin fontSRegular;
}
.text_sb {
  @mixin fontSBold;
}
.text_xs {
  @mixin fontXSRegular;
}
.text_xsb {
  @mixin fontXSBold;
}
.text_xxs {
  @mixin fontXXSRegular;
}
.text_xxsb {
  @mixin fontXXSBold;
}

body {
  font-family: $ff-lato;
}


body > * {
  @mixin fontRegular;
}
._bold {
  @mixin fontBold;
}


._underlined {
  text-decoration: underline;
}

.link {
  color: $color-green;
  cursor: pointer;
  
  &._active,
  &:hover {
    color: $color-green-dark;
  }
}
