html,
body {
  font-size: 10px; /* default rem setup */
}

/* leng smooth */
/* todo */
@define-mixin leng-smooth $fz-min: 7px, $fz-max: 10px, $vp-min: 320px, $vp-max: 1440px {
  $fz-delta: $fz-max - $fz-min;
  $vp-delta: $vp-max - $vp-min;
  $fz-dynamic: calc($fz-min + ($fz-delta / $vp-delta) * (100vw - $vp-min));

  html {
    --fz-min: $fz-min;
    --fz-max: $fz-max;
    --vp-min: $vp-min;
    --vp-max: $vp-max;
    /* --fz-dynamic: $fz-dynamic; */
    --fz-delta: calc(var(--fz-max) - var(--fz-min));
    --vp-delta: calc(var(--vp-max) - var(--vp-min));
    --fz-dynamic: calc(var(--fz-min) + var(--fz-delta) / var(--vp-delta) * (100vw - $vp-min));
  }
  body  {
    /* font-size: clamp($fz-min, $fz-dynamic, $fz-max); */
    /* font-size: clamp(var(--fz-min), var(--fz-dynamic), var(--fz-max)); */
  }
}
/* @mixin leng-smooth; */
/* 
@function fz_smooth($vp-min: $vp-min, $vp-max: $vp-max, $fz-min: $fz-min, $fz-max: $fz-max)
  $vp-delta: calc($vp-max - $vp-min)
  $fz-delta: calc($fz-max - $fz-min)
  $fz-dynamic: calc($fz-min + ($fz-delta / $vp-delta) * ( ) )
  $res: clamp($fz-min, $fz-dynamic, $fz-max)
  @return $res
*/



/* Container */
$container-width: 123rem;
$container-width-l: 186rem;

.container {
  margin: 0 auto;
  max-width: calc($container-width + 2 * 2rem); /* inner padding*/
  padding: 0 2rem;
}
.container-l {
  margin: 0 auto;
  max-width: calc($container-width-l + 2 * 2rem); /* inner padding*/
  padding: 0 2rem;
}


/* grid */
.grid {
  /* --min-width: 20rem;
  --max-width: 30rem; */
  --gap: 3rem;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr) );
  /* grid-template-columns: repeat(auto-fill, minmax(auto, 1fr) ); */

  & > * {

  }
}