@import '~css/consts';


@define-mixin addProp $name, $value, $sel: & {
  $(sel) {
    $(name): $value;
  }
}
@define-mixin addVar $name, $value, $sel: html {
  @mixin addProp $name, $value, html;
}



._fullscreen {
  width: 100vw;
  height: calc(100vh - $header-height-full);
}


._hidden-smart {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}


$color-slash-gradient: $color-gray-300;
/* decor */
@define-mixin slashBetween $w, $color: $color-slash-gradient {
  & > * + * {
    position: relative;

    &:before {
      content: '';
      /* parent pos */
      display: block;
      position: absolute;
      top: 0;
      left: calc(-1 * $w);

      /* view */
      height: 100%;
      width: 1px;
      border-color: $color;
    }
  }
}
@define-mixin slashBetweenVertical $w, $color: $color-slash-gradient {
  & > * + * {
    position: relative;

    &:before {
      content: '';
      /* parent pos */
      display: block;
      position: absolute;
      top: calc(-1 * $w);
      left: 0;

      /* view */
      width: 100%;
      height: 1px;
      border-color: $color;
    }
  }
}




/* Vue */

.input-group._horizontal {
  display: flex;
  grid-template: 1.2rem;
}


/* colors  */
._background-black {background: $color-black;}
._background-blue-gray {background: $color-blue-gray;}
._background-yellow {background: $color-yellow;}
._background-red {background: $color-red;}
._background-dark-blue {background: $color-dark-blue;}
._background-beige {background: $color-beige;}
._background-brown {background: $color-brown;}
._background-gray {background: $color-gray;}
._background-purple {background: $color-purple;}
._background-green {background: $color-green;}
._background-orange {background: $color-orange;}
._background-white {background: $color-white;}



